In [1]:
import pandas as pd

In [2]:
full_dt = pd.read_csv("311_Service_Requests_2020.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
full_dt.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,45285347,01/01/2020 12:00:00 AM,01/10/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11229.0,3442 NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600129,-73.941843,"(40.6001292057807, -73.94184291675883)"
1,45285651,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,10458.0,2701 DECATUR AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.864866,-73.888783,"(40.86486556770799, -73.88878325729915)"
2,45285821,01/01/2020 12:00:00 AM,01/02/2020 09:50:09 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Other (Explain Below),11203.0,5707 CHURCH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652536,-73.923540,"(40.65253575905768, -73.92353994017134)"
3,45287907,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11214.0,1602 SHORE PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.595653,-74.000173,"(40.59565343138651, -74.00017283917487)"
4,45288240,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,11385.0,1717 CORNELIA STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.700366,-73.905438,"(40.700366489799876, -73.90543829006366)"

In [6]:
full_dt.info()
my_zip_dt = full_dt[full_dt['Incident Zip'] == 10024.0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2587316 entries, 0 to 2587315
Data columns (total 41 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unique Key                      int64
 1   Created Date                    object
 2   Closed Date                     object
 3   Agency                          object
 4   Agency Name                     object
 5   Complaint Type                  object
 6   Descriptor                      object
 7   Location Type                   object
 8   Incident Zip                    float64
 9   Incident Address                object
 10  Street Name                     object
 11  Cross Street 1                  object
 12  Cross Street 2                  object
 13  Intersection Street 1           object
 14  Intersection Street 2           object
 15  Address Type                    object
 16  City                            object
 17  Landmark                        object
 18  Facility Type                   object
 19  Status                          object
 20  Due Date                        object
 21  Resolution Description          object
 22  Resolution Action Updated Date  object
 23  Community Board                 object
 24  BBL                             float64
 25  Borough                         object
 26  X Coordinate (State Plane)      float64
 27  Y Coordinate (State Plane)      float64
 28  Open Data Channel Type          object
 29  Park Facility Name              object
 30  Park Borough                    object
 31  Vehicle Type                    object
 32  Taxi Company Borough            object
 33  Taxi Pick Up Location           object
 34  Bridge Highway Name             object
 35  Bridge Highway Direction        object
 36  Road Ramp                       object
 37  Bridge Highway Segment          object
 38  Latitude                        float64
 39  Longitude                       float64
 40  Location                        object
dtypes: float64(6), int64(1), object(34)
memory usage: 809.3+ MB

In [8]:
my_zip_dt['Incident Zip'].unique()

array([10024.])

In [22]:
type_count = my_zip_dt.groupby('Complaint Type').size().sort_values(ascending=False)
type_count[:10]

Complaint Type
Noise - Residential            1987
Illegal Parking                 823
Noise - Street/Sidewalk         764
Noise                           716
HEAT/HOT WATER                  694
Non-Emergency Police Matter     605
Noise - Helicopter              580
Homeless Person Assistance      398
Rodent                          380
Noise - Vehicle                 316
dtype: int64

In [24]:
type(type_count)

pandas.core.series.Series